<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_adaptive_fore"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hazir"
        tools:targetApi="31">
        <activity
            android:name=".app.ActivityUserEdit"
            android:exported="false" />
        <activity
            android:name=".app.ActivityAndroidClass"
            android:exported="true"></activity>
        <activity
            android:name=".app.ActivityAddCar"
            android:exported="true"></activity>
        <activity
            android:name=".app.ActivitySearch"
            android:exported="false" />
        <activity
            android:name=".app.ActivityCarCtg"
            android:exported="false" />
        <activity
            android:name=".app.ActivityForgetPassword"
            android:exported="false" />
        <activity
            android:name=".app.ActivitySignUp"
            android:exported="false" />
        <activity
            android:name=".app.ActivitySignIn"
            android:exported="false" />
        <activity
            android:name=".app.ActivitySpalsh"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
    </application>

</manifest>